body {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  max-width: 100%;
}

.to-do {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(245, 245, 245);
  box-shadow: 4px 5px 8px grey;
  background-color: #fff;
}

h3 {
  flex: 1;
  padding-left: 2%;
  font-weight: normal;
  max-width: 60;
}

.fa-sync-alt {
  color: #e0dbdb;
  margin-left: auto;
  margin-right: 3%;
}

header {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid rgb(221, 220, 220);
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
  max-width: 100%;
  border-bottom: 2px solid rgb(221, 220, 220);
}

.add-button {
  margin-left: auto;
  margin-right: 2%;
  background-color: #fff;
  border: none;
}

.fa-level-down-alt {
  color: #e0dbdb;
}

input {
  flex: 1;
  outline: none;
  padding: 1rem 0;
  padding-left: 0.8rem;
  border: none;
  max-width: 60%;
  font-size: 1em;
  font-style: italic;
}

ul {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  flex: 1;
  display: flex;
  max-width: 100%;
  list-style-type: none;
  border-bottom: 1px solid rgb(221, 220, 220);
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

[type~="checkbox"] {
  cursor: pointer;
}

.list-input {
  flex: 1;
  max-width: 8%;
  transform: scale(1.2)
}

.item-details {
  flex: 1;
  max-width: 70%;
  align-self: center;
  font-size: 1.2em;
  position: inherit;
  padding-top: 13px;
  height: 2rem;
  border: none;
  resize: none;
  outline: none;
}

.fa-ellipsis-v {
  flex: 1;
  margin-left: auto;
  margin-right: 3%;
  max-width: 3%;
  color: rgba(83, 83, 83, 0.7);
}

.fa-edit {
  flex: 1;
  margin-left: auto;
  margin-right: 1%;
  max-width: 3%;
  color: rgba(83, 83, 83, 0.7);
}

.checked {
  text-decoration: line-through;
}

.clear-task {
  padding: 1rem 0.7rem;
  text-align: center;
  background-color: #f6f6f6;
  font-weight: normal;
  z-index: 100;
  cursor: pointer;
  margin-top: 0;
}
