body {
  background-color: #f6f6f6;
  max-width: 100%;
}

.to-do {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: #fff;
  justify-content: center;
  margin-bottom: 0;
}

.list-title {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-bottom: 1.5px solid #ebebeb;
}

.title {
  flex: 1;
}

.fa-sync-alt {
 max-width: 5px;
 color: #b7b7b7;
 margin-right: 5%;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 1% 1% 1%;
  border-bottom: 1.5px solid #ebebeb;
  margin-top: 0;
}

input {
  flex: 1;
  padding: 0 1% 1% 1%;
  border: none;
  font-size: 1.3em;
  font-style: italic;
}

.enter {
  flex: 1;
  margin-right: 3%;
  background-color: #fff;
  border: none;
}

.button {
  flex: 1;
  padding: 3%;
  border: none;
  text-align: center;
  color: #7d7d7d;
  font-size: 1.2em;
}